:root{
    --colorDarkBG: #20124d;
    --colorDarkContent: #847dff;
    --colorLightBG: #362a5f;
    --colorLightContent: #a487ff;
    --logoBackground: #2E1F5F;
    --lightText: white;
    color: var(--lightText);
}

*{
    margin:0;
    padding:0;
    font-family: "Ubuntu";
    outline: none;
}


body{
    background:var(--colorDarkBG);
}

html{
    width:100%;
}
body{
    width:100%;
    background:black;
}
.hero{
    height:100vh;
    background: url("../img/cover_transparent.webp") no-repeat;
    background-position: right 50% bottom calc(7vh + 50%);
    background-size: 70%;
    z-index:3;
    
}
.ideation{
    width:90%;
    height:18vw;
    padding:calc(44vh - 9vw) 5% 5%;
    display:flex;
    justify-content: center;
}



#title{
    color:var(--lightText);
    text-align: center;
    font-family: "Ubuntu";
    text-transform: uppercase;
    font-size: 4vw;
}

#subtitle{
    color:var(--lightText);
    text-align: center;
    font-size:2vw;
}
@keyframes sketch {
    0% {
        opacity:1;
        transform: translateX(-100%);
    }
    10%{
        transform:translateX(0);
        opacity:1;
    }
    44.9%{
        opacity:1;
        transform: translateX(44vw);
    }
    45%{
        opacity:0;
    }
    100% {
        transform: translateX(88vw);
        opacity:0;
    }
  }
@keyframes render {
    0% {
        transform: translateX(-100%);
        opacity:0;
    }
    10%{
        transform:translateX(0);
        opacity:0;
    }
    44.9%{
        transform: translateX(44vw);
        opacity:0;
    }
    45%{
        opacity:1;
    }
    100% {
        transform: translateX(88vw);
        opacity:1;
    }
  }
  
.bulb{
    position:absolute;
    z-index:-51;
    width:9vw;
    height:9vw;
    background-position: right 50% bottom 50%;
    background-size:100%;
    transform: translateX(88vw);
    top:calc(45vh - 4.5vw);
}
#bulb_rand{
    background: url("../img/bulb_rend.png") no-repeat;
    background-position: right 50% bottom 50%;
    background-size:100%;
    animation: 10s ease-in-out 0s 1 render;
    opacity: 1;
}
#bulb_sk{
    background: url("../img/sk_bulb_2.PNG") no-repeat;
    background-position: right 50% bottom 50%;
    background-size:100%;
    opacity:0;
    animation: 10s ease-in-out 0s 1 sketch;
}

